<%- include('header-footer/header') %>
<h2>Welcome, <%= user.username %></h2>
<h3>Your Subscribed Topics:</h3>
<% Object.keys(recentMessages).forEach(topic => { %>
  <h4><%= topic %></h4>
  <ul>
    <% recentMessages[topic].forEach(msg => { %>
      <li><%= msg.content %> - <%= msg.createdAt.toLocaleString() %></li>
    <% }) %>
  </ul>
<% }) %>
<a href="/topics">Browse Topics</a>
<a href="/stats">Stats</a>
<%- include('header-footer/footer') %>
