<%- include('header-footer/header') %>
<h2>All Topics</h2>

<ul>
  <% topics.forEach(topic => { %>
    <li>
      <strong><%= topic.title %></strong> - Views: <%= topic.views %>
      <a href="/topics/<%= topic._id %>/messages">View Messages</a>
    </li>
  <% }) %>
</ul>

<a href="/dashboard">Back to Dashboard</a>
<%- include('header-footer/footer') %>
